<div class="background">
  <div class="p-grid p-dir-col p-justify-center centralizado">
    <div class="p-col-12" style="text-align: center;">
      <img class="logo-bg" src="../../../assets/img/logo-xl.png">
    </div>
    <div class="p-col" style="text-align: center;">
      <form [formGroup]="loginForm" (submit)="onSubmit(loginForm)">
        <div class="p-grid p-dir-col p-justify-center">
          <div class="p-col">
            <div class="ui-inputgroup" style="justify-content: center;">
              <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText placeholder="Usuário" formControlName="usuario" />
            </div>
          </div>
          <div class="p-col">
            <div class="ui-inputgroup" style="justify-content: center;">
              <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
              <input type="password" pInputText placeholder="Senha" formControlName="senha" />
            </div>
          </div>
          <div class="p-col">
            <button pButton type="submit" label="Fazer Login" icon="pi pi-sign-in" iconPos="right"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Erro" [(visible)]="loginErro" [width]="300" [modal]="true" [closable]="false" [closeOnEscape]="true">
  <span>{{ msgErro }}</span>
  <p-footer>
    <button pButton class="ui-button-secondary" label="Ok" (click)="loginErro=false"></button>
  </p-footer>
</p-dialog>
<p-dialog [(visible)]="carregandoLogin" class="carregando-dialog" [modal]="true" [closable]="false">
  <p-progressSpinner class="carregando-spinner" [style]="{width: '70px', height: '70px'}" strokeWidth="6"></p-progressSpinner>
</p-dialog>
